<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/resources.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Name | Resources</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <navbar-header></navbar-header>
    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="welcome-content">
        <div class="text-wrapper">
          <h1 data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
            Welcome!
          </h1>
          <h3
            class="hero-description"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="1200"
          >
            Resources to assist
            <span class="gradient-underline">learning beyond</span>,
            <span>your study sessions</span>, and
            <span class="gradient-underline">quenching your curiousity.</span>
          </h3>
        </div>
        <img
          data-aos="fade-in"
          data-aos-duration="1000"
          data-aos-delay="2000"
          class="hero-image"
          src="/static/images/3D-young-woman.png"
          alt="resoureces-hero-image"
        />
      </div>
      <a href="#resources-section">
        <div
          class="arrow-container"
          data-aos="fade-in"
          data-aos-duration="1000"
          data-aos-delay="2000"
        >
          <img
            class="scroll-arrow"
            src="/static/images/icons8-down-arrow-64.png"
            alt=""
          />
        </div>
      </a>
      <!--  -->
      <!--  -->
      <section id="resources-section">
        <h1
          class="resources-section-title"
          data-aos="fade-down"
          data-aos-duration="1000"
          data-aos-delay="800"
        >
          Resources
        </h1>
        <div class="gradient-divider"></div>
        <div class="card-wrapper">
          <!-- CARDS -->

          <div
            class="card"
            data-aos="fade-in"
            data-aos-duration="1500"
            data-aos-delay="1200"
          >
            <h4 class="card-title">Pomodoro Timer</h4>
            <p class="card-description">
              A pleasingly aesthetic timer using
              <span class="gradient-resource-section">pomodoro technique</span>.
              that enahnces your productivity.
            </p>
            <a href="/timer" class="open-app-btn">Open App</a>
          </div>
          <div
            class="card"
            data-aos="fade-in"
            data-aos-duration="1500"
            data-aos-delay="1400"
          >
            <h4 class="card-title">Pomodoro Timer</h4>
            <p class="card-description">
              A pleasingly aesthetic timer using
              <span class="gradient-resource-section">pomodoro technique</span>.
              that enahnces your productivity.
            </p>
            <a href="/timer" class="open-app-btn">Open App</a>
          </div>
          <div
            class="card"
            data-aos="fade-in"
            data-aos-duration="1500"
            data-aos-delay="1600"
          >
            <h4 class="card-title">Pomodoro Timer</h4>
            <p class="card-description">
              A pleasingly aesthetic timer using
              <span class="gradient-resource-section">pomodoro technique</span>.
              that enahnces your productivity.
            </p>
            <a href="/timer" class="open-app-btn">Open App</a>
          </div>
          <div
            class="card"
            data-aos="fade-in"
            data-aos-duration="1500"
            data-aos-delay="1800"
          >
            <h4 class="card-title">Pomodoro Timer</h4>
            <p class="card-description">
              A pleasingly aesthetic timer using
              <span class="gradient-resource-section">pomodoro technique</span>.
              that enahnces your productivity.
            </p>
            <a href="/timer" class="open-app-btn">Open App</a>
          </div>
          <div
            class="card"
            data-aos="fade-in"
            data-aos-duration="1500"
            data-aos-delay="800"
          >
            <h4 class="card-title">Pomodoro Timer</h4>
            <p class="card-description">
              A pleasingly aesthetic timer using
              <span class="gradient-resource-section">pomodoro technique</span>.
              that enahnces your productivity.
            </p>
            <a href="/timer" class="open-app-btn">Open App</a>
          </div>
          <!--  -->
        </div>
      </section>
    </div>
    <!--  -->
    <!-- SCRIPTS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/static/js/global.js"></script>
    <script
      src="https://kit.fontawesome.com/cf0be82f32.js"
      crossorigin="anonymous"
    ></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
