<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/resources.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <navbar-header></navbar-header>
    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="welcome-content">
        <h1>Welcome!</h1>
        <h3>Resources to assist your study session, learn beyond, and quench your curiousity </h3>
      </div>
    </div>
    <!-- SCRIPTS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/static/js/global.js"></script>
    <script
      src="https://kit.fontawesome.com/cf0be82f32.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
